<header class="header">
  <h1><a href="/">SkySafe</a></h1>
  <%if(locals.auth){%>
  <a href="/logout" class="log">Log Out</a>
  <%} else{%>
  <a href="/login" class="log">Log In</a>
  <a href="/signup" class="signup">Sign Up</a>
  <%}%>
</header>
