<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>SkySafe</title>
  </head>
  <body>
    <div class="main-container">
      <%- include('./partials/header')%>
      <div class="content">
        <h2>
          Keep your data Secure and accessible anytime with
          <span class="blue">SkySafe.</span>
        </h2>
        <a href="/signup" class="signup-big">Start for free</a>
      </div>
    </div>
  </body>
</html>
