.vault-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px 20px;
  height: 100vh;
  font-weight: 300;
}

.vault-content {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100%;
  gap: 10px;
  padding-bottom: 20px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.side-bar-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.side-icons {
  color: var(--white);
  background-color: var(--black);
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  font-weight: 300;
}

.side-icons:hover {
  cursor: pointer;
}

.side-icons > img {
  width: 18px;
}

.folders-container > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.folders-container ul > li {
  list-style: none;
}

.folder-li {
  padding-bottom: 5px;
}

.folder-li,
.child-li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
}

.folder-li img,
.child-li img {
  width: 20px;
}

.folder-li div:first-child,
.child-li div:first-child {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 5px;
}

.folder-li a > img,
.child-li a > img {
  width: 15px;
}

.children {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.vault-main {
  border: 1px solid var(--text-gray);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.files-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.files-container ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.file-title {
  font-weight: 600;
  font-size: 1rem;
}

.files-container li {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 150px 200px 50px;
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}

.file-actions {
  display: flex;
  justify-content: center;
  position: relative;
}

.file-actions:hover {
  cursor: pointer;
}

.file-actions > img {
  width: 20px;
}

.action-buttons-container {
  background-color: var(--dark-gray);
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  top: 30px;
  z-index: 2;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.action-hide {
  display: none;
}

.files-odd {
  background-color: var(--dark-gray);
}

.directory-container {
  height: 30px;
  border-top: 1px solid var(--text-gray);
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 0.8rem;
}

.newFile-modal,
.newFolder-modal,
.share-modal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  background-color: var(--dark-gray);
  border: none;
  border-radius: 10px;
  width: 400px;
  height: 220px;
}

dialog::backdrop {
  background-color: rgba(97, 97, 97, 0.404);
  backdrop-filter: blur(2px);
}

.newFile-modal > form,
.newFolder-modal > form,
.share-modal > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-titlebar {
  display: flex;
  align-items: center;
  background-color: var(--light-gray);
  padding: 10px;
  font-size: 0.9rem;
}

.close-modal,
.close-newFolder-modal,
.close-share-modal {
  width: 15px;
  height: 15px;
  border-radius: 25px;
  background-color: var(--red);
}

.modal-titlebar div:last-child {
  flex: 1;
  text-align: center;
}

.modal-content {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.browse-btn {
  outline: none;
}

.browse-btn::file-selector-button {
  background-color: var(--light-gray);
  color: var(--white);
  border: 1px solid var(--text-gray);
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 20px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 20px;
}

.share-modal-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.share-modal-footer label {
  font-size: 0.8rem;
}

.share-modal-footer > select,
.share-modal-footer > button {
  background-color: var(--light-gray);
  color: var(--white);
  border: 1px solid var(--text-gray);
  border-radius: 10px;
  padding: 10px 15px;
}

.upload {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 10px;
  padding: 10px 20px;
  outline: none;
}

.newFolder-modal {
  width: 300px;
  height: 180px;
}

.newFolder-modal-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 30px 20px 30px;
}

.newFolder-modal-footer > input {
  background-color: var(--light-gray);
  color: var(--white);
  outline: none;
  border: 1px solid var(--text-gray);
  border-radius: 10px;
  padding: 10px 15px;
}

.newFolder-modal-footer > button {
  background-color: var(--light-gray);
  color: var(--white);
  border: 1px solid var(--text-gray);
  border-radius: 10px;
  padding: 10px 20px;
  align-self: center;
}
